body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./mario-bg.jpg");
    background-size: cover;
}

h1, h2, h3 {
    color: #333;
}

#scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timer, #score, #topScore {
    flex-grow: 1;
}


#board {
    width: 540px;
    height: 540px;
    /* background-color: green; */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px;
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
    box-sizing: border-box;
    
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#restartBtn {
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px; /* Increase padding for bigger button */
    border: none;
    border-radius: 10px; /* Increase border-radius for rounded corners */
    cursor: pointer;
    display: none;
    position: absolute; /* Position the button absolutely */
    top: 50%; /* Position the button at the vertical center */
    left: 50%; /* Position the button at the horizontal center */
    transform: translate(-50%, -50%); /* Center the button exactly */
}

#restartBtn:hover {
    background-color: #45a049;
}


